<h1>Edit article</h1>
<%= form_with url: admin_article_path, model: @article, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= @article.errors.full_messages_for(:title) do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <%= @article.errors.full_messages_for(:body) do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>